<div class="row">
	<div class="cols-md-12" style="margin-left: -10%">
		<table class="table table-striped table-bordered table-condensed">
	<th>ID</th>
	<th>Email</th>
	<th>Registered at</th>
	<th>First name </th>
	<th>Last name</th>
	<th>Username</th>
	<th>Birthdate</th>
	<th>Phone</th>
	<th>City</th>
	<th>Street</th>
	<th>House</th>
	<th>Locale</th>
	<% @users.each do |user| %>
	<tr>
		<td><%= user.id %></td>
		<td><%= user.email %></td>
		<td><%= user.created_at %></td>
		<td><%= user.first_name %></td>
		<td><%= user.last_name %></td>
		<td><%= user.username %></td>
		<td><%= user.birthdate %></td>
		<td><%= user.phone %></td>
		<td><%= user.city %></td>
		<td><%= user.street %></td>
    <td><%= user.house %></td>
    <td><%= user.locale %></td>
  </tr>
  <% end %>
</table>
	</div>
	

</div>

