<% provide :head_tags do %>
<meta name='turbolinks-visit-control' content='reload'>
    <script>


    document.addEventListener("DOMContentLoaded", function(){
    	initMap();
    });




    function initMap() {
    	var marker;
    	var newCoord;
    	var center_lat = 0;
    	var center_lng = 0;
    	var count = 0
    var myCoords = new google.maps.LatLng(53.9, 27.559);
    var mapOptions = {
    center: myCoords,
    zoom: 14
    };

    var map = new google.maps.Map(document.getElementById('map'), mapOptions);

    <% @billboards.each do |billboard| %>
    	center_lat += <%= billboard.latitude.to_json %>;
    	center_lng += <%= billboard.longitude.to_json %>;
    	count++;
    	newCoord = new google.maps.LatLng(<%= billboard.latitude.to_json %>, <%= billboard.longitude.to_json %>);

    	marker = new google.maps.Marker({
        position: newCoord,
        map: map
      });
    <% end %>
    myCoords = new google.maps.LatLng(center_lat/count, center_lng/count);
    map.setCenter(myCoords);
}
    </script>
<% end %>

<h1><%= t('billboards.index.results') %></h1>

<div id="map"></div>
<% if BillboardsController.free %>
  <p><%= button_to t('index.show_free'), button_path, method: :get %></p>
<% else %>
  <p><%= button_to t('index.show_all'), button_path, method: :get %></p>
<% end %>

<% @billboards.each do |billboard| %>
<div class="col-sm-3 single-post-card" id=<%= billboard_path(billboard.id) %>>
  <h3><%= billboard.street %></h3> 
  <p><%= billboard.price %></p>
  <%= link_to t('billboards.more'), billboard_path(billboard.id), class: 'interested' %>
  <% if current_user && current_user.admin? %>
    <%= link_to "edit", edit_billboard_path(billboard.id) %>
  <% end %>
</div><!-- col-sm-3 -->
<% end %>