<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#"><%= t('header.title') %></a>
  <div class="btn-group" role="group" aria-label="Log in / sign up">
  	<% if current_user %>
  		<%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-md btn-secondary" %>
  	<% else %>
  	  <%= link_to "Log in", new_user_session_path, class: "btn btn-md btn-secondary" %>
  		<%= link_to "Sign up", new_user_registration_path, class: "btn btn-md btn-secondary" %>
  		<%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
  	<% end %>
	</div>
  

</nav>